$light-color: #f5f5f5;
$dark-color: #201e1e;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Reset al tamaño de fuente para que todo mida 10px

html {
    font-size: 62.5%;
}

body {
    background-color: $light-color;
    color: $dark-color;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

body, main {
    display: flex;
    flex-direction: column;

}

// Navbar
header {
    height: 10rem;
    position: fixed;
    top: 0;
    width: 100%;
}

.dark {
    background-color: $dark-color;
    color: $light-color;
}

.navbar {
    align-items: center;
    display: flex;
    height: 7rem;
    justify-content: space-between;
    padding: 0;
    width: 100%;
}

.div-logo {
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
}

ul {
    padding: 0;
    margin: 0;
    width: 25rem;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    font-size: 1.6rem;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    transform: scale(1.2);
}

main .data, ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    margin-right: 2rem;
}
// Main
// Data section

main {
    margin: 10rem auto 0;
    width: 90%;
    max-width: 75rem;

    h1 {
        font-size: 6rem;
        font-weight: 500;
    }
    .position {
        font-size: 3.4rem;
        font-weight: 100;
    }
    .myPhoto {
        border-radius: 50%;
        width: 100%;
        max-width: 28rem;
    }
    .resume {
        font-size: 1.8rem;
        text-align: justify;
    }
    
    // Portfolio
    
    #portfolio {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        margin-top: 10rem;
        
        .img-port {
            width: 100%;
            max-width: 55rem;
            margin-bottom: 3rem;
        }
        
        .img-port:hover {
            transform: scale(1.1);
        }
    }
    // Form
    #contact {
        margin-top: 10rem;
    }
    form {
        height: 100%;
        display: flex;
        justify-content: center;
        
        fieldset {
           height: 100%;
           margin: auto;
           width: 60%;
           display: flex;
           flex-direction: column;
           justify-content: space-evenly;
       }
       
    }
}

// Dark mode
  .dark-mode {
    background-color: $dark-color;
    color: $light-color;
}

.left {
    display: none;
}

.mobile {
    display: none;
} 


// Media queries
@media only screen and (max-width: 675px){
    main {
        width: 90%;
    }

    .data {
        flex-direction: column;
    }

    h1{
        font-size: 3.5rem;
        text-align: center;
    }

    .position {
        font-size: 2rem;
        text-align: center;
    }
    img {
        width: 100%;
        max-width: 25rem;
    }

    p {
        font-size: 1.4rem;
    }

    .menu-toggle {
        display: block;
    }
    .menu {
        display: none;
        position: fixed;
        top: 7rem;
        left: 0;
        width: 100%;
        background-color: $dark-color;
    }
    .menu ul {
        flex-direction: column;
        align-items: center;
    }
    .menu ul li {
        margin: 1rem 0;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }    

    #dark-mode {
        display: none;
    }
}

@media only screen and (max-width: 550px){
    main {
        width: 90%;
    }

    .portfolio-main {
        height: auto;
    }

    .img-port {
        width: 100%;
        max-width: 20rem;
    }

    .navbar a {
        font-size: 1rem;
    }
}