@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
  font-size: 62.5%;
}

body {
  background-color: #f5f5f5;
  color: #201e1e;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  width: 100vw;
}

body, main {
  display: flex;
  flex-direction: column;
}

header {
  height: 10rem;
  position: fixed;
  top: 0;
  width: 100vw;
}

.dark {
  background-color: #201e1e;
  color: #f5f5f5;
}

.navbar {
  align-items: center;
  display: flex;
  height: 7rem;
  justify-content: space-between;
  padding: 0;
  width: 100%;
}

.logo {
  border-radius: 50%;
  height: 4rem;
  margin-left: 3rem;
  width: 4rem;
}

ul {
  padding: 0;
  margin: 0;
  width: 25rem;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  font-size: 1.6rem;
  text-decoration: none;
  margin-right: 3rem;
}

a:hover {
  text-decoration: underline;
  transform: scale(1.2);
}

main .data, ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  margin-right: 2rem;
}

main {
  margin: 10rem auto 0;
  width: 65rem;
}
main h1 {
  font-size: 6rem;
  font-weight: 500;
}
main .position {
  font-size: 3.4rem;
  font-weight: 100;
}
main .myPhoto {
  border-radius: 50%;
  width: 28rem;
}
main .resume {
  font-size: 1.8rem;
  text-align: justify;
}

#portfolio {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  height: 80rem;
  width: 100%;
}
#portfolio .img-port {
  width: 40rem;
}
#portfolio .img-port:hover {
  transform: scale(1.1);
}

form {
  height: 100%;
  display: flex;
  justify-content: center;
}
form fieldset {
  height: 45rem;
  margin: auto;
  width: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
form .submit {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.6rem;
  height: 4rem;
}

.dark-mode {
  background-color: #201e1e;
  color: #f5f5f5;
}

.left {
  display: none;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 675px) {
  main {
    width: 55rem;
  }
  .data {
    flex-direction: column;
  }
  h1 {
    font-size: 3.5rem;
    text-align: center;
  }
  .position {
    font-size: 2rem;
    text-align: center;
  }
  img {
    width: 25rem;
  }
  p {
    font-size: 1.4rem;
  }
  .menu-toggle {
    display: block;
  }
  .menu {
    display: none;
    position: fixed;
    top: 7rem;
    left: 0;
    width: 100%;
    background-color: #201e1e;
  }
  .menu ul {
    flex-direction: column;
    align-items: center;
  }
  .menu ul li {
    margin: 1rem 0;
  }
  .menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #dark-mode {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  main {
    width: 30rem;
  }
  .portfolio-main {
    height: 80%;
  }
  .img-port {
    width: 20rem;
  }
  .navbar a {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
